@import "tailwindcss";

:root {
  --sky: #E0F2FE;
  --ocean: #0369A1;
  --ocean-dark: #075985;
  --cyan: #22D3EE;
  --lime: #84CC16;
  --amber: #F59E0B;
  --ink: #1E293B;
}

[data-theme="sunset"] {
  --sky: #FFF7ED;
  --ocean: #EA580C;
  --ocean-dark: #C2410C;
  --cyan: #9f3cfb;
  --lime: #F59E0B;
  --amber: #DC2626;
  --ink: #451A03;
}

[data-theme="forest"] {
  --sky: #ECFDF5;
  --ocean: #179c48;
  --ocean-dark: #14532D;
  --cyan: #235d9b;
  --lime: #58e635;
  --amber: #dbc60d;
  --ink: #14532D;
}